<!DOCTYPE html>
<html>
  <head>
    <title>A portfolio website by Kevin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2014-11-29/fef89c7f899d813c19ec15710d23fad2.ico" type="image/gif" sizes="16x16">
  </head>

  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/welcome/projects.html">Projects</a></li>
    <li><a href="/welcome/resume.html">Resume</a></li>
    <li style="float:right"><a href="/welcome/contact.html">Contact</a></li>
    <li style="float:right"><a href="/welcome/about.html">About</a></li>
  </ul>

  <body>
    <%= yield %>
  </body>
  
  <div class ="footer"> @Kevin Ngovanduc</div>

  
</html>
